// Colors
$primary-color: #2C2C36;
$secondary-color: #1E836B;
$other-color: #F6F6F6;

$white: #FFFFFFFF;
$dark-white: #f5f5f5;
$gray: #f0f0f0;
$green: #45a691;
$light-green: #00AE57;
$black: #000000;

$secondary-color-t: rgba(30, 131, 107, 0.8);

// Fonts
$font-primary: 'HelveticaNeueCyr', sans-serif;

// Modules
$spacing-unit: 1rem;
$border-radius: 5px;

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
