@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/swiper/swiper-bundle.min.css";


@import "variable";
@import "custom";
@import "particle/header";
@import "particle/footer";
@import "particle/archive";

@import "../blocks/hero/hero";
@import "../blocks/about/about";
@import "../blocks/company/company";
@import "../blocks/services/services";
@import "../blocks/projects/projects";
@import "../blocks/customers/customers";
@import "../blocks/filter-project/filter-project";

body {
	font-family: $font-primary;
	background-color: $white;
	color: $primary-color;
	font-size: 18px;
}

h1 {
	font-size: 4rem;

	@media (max-width: 1024px) {
		font-size: 3rem;
	}

	@media (max-width: 640px) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 3.8rem;
}

h3 {
	font-size: 3.5rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2.5rem;
}

h6 {
	font-size: 2rem;
}

a {
	color: $white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.btn-custom {
	background-color: $secondary-color;
	font-size: 1rem;
	color: $white;
	text-transform: uppercase;
	padding: 1.625rem 2.625rem;

	&:hover, &:focus {
		background-color: $green;
	}
}

.text-link {
	font-size: 14px;
	color: $secondary-color;
	text-transform: uppercase;
	font-family: $font-primary;
	font-weight: 500;

	&:hover, &:focus {
		color: $green;
	}

	.fa-chevron-right {
		font-size: 13px;
		padding-left: 5px;
	}
}

.container {
	max-width: 1230px;
}