{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <section class="article-content">
            <div class="article-body">
                {{ post.content }}
            </div>
        </section>
    </div><!-- /content-wrapper -->
{% endblock %}